to-do {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--clr-teal-25);

    border-radius: var(--border-radius);
    padding: 10px;

    transition: 
        background-color 0.2s ease;
}

to-do:hover {
    background-color: var(--clr-light-green);
}

to-do .delete-btn {
    padding: 5px;
    margin-left: auto;
    margin-right: 0.7rem;

    border-radius: 6px;

    transition: 
        background-color 0.3s ease;
}

to-do .delete-btn:hover {
    cursor: pointer;
    background-color: var(--clr-red-25, #ff4b4b);
}

to-do .delete-btn:hover svg{
    fill: white;
    pointer-events: none;
}