to-do {
    display: block;
    background-color: aquamarine;

    border-radius: var(--border-radius);
    padding: 10px;

    transition: 
        background-color 0.2s ease;
}

to-do:hover {
    background-color: bisque;
}