to-do {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--clr-teal-50);

    border-radius: var(--border-radius);
    padding: 10px;

    transition: 
        background-color 0.2s ease;
}

to-do:hover {
    background-color: var(--clr-selected);
}