/*BUTTON*/

button {
    outline: none;
    border: none;
}

.btn{
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: 40px;
    padding: 4px 10px;

    color: var(--clr-white-100);
    background-color: var(--clr-teal-25);
    border-radius: 10px;
    
    font-weight: bold;
    transform-origin: center;

    transition: 
        box-shadow 0.15s ease-out,
        transform 0.15s ease-out;
}

.btn:hover{
    cursor: pointer;
    transform:translateY(-1px);
}

.btn:active{
    transform: scale(0.97);
}

/*INPUT CHECKBOX*/

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    margin: 0;

    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: 0.15em solid var(--clr-teal-75);
    border-radius: 50px;

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: calc(var(--checkbox-size) / 1.8);
    height: calc(var(--checkbox-size) / 1.8);

    box-shadow: inset 10em 10em 10em var(--clr-teal-75);
    border-radius: 50px;

    transform: scale(0);
    transform-origin: center;

    transition: 
        transform 0.2s ease;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

select,
input[type="date"],
input[type="text"] {
    outline: none;
    border: 2px solid var(--clr-teal-50);

    border-radius: var(--border-radius);
    height: 100%;

    background: none;
    transition: 
        border 0.2s ease;
}

input[type="date"],
input[type="text"] {
    padding: 15px;
}

select:hover,
input[type="date"]:hover,
input[type="text"]:hover {
    border: 2px solid var(--clr-light-green);
}

select:focus,
input[type="date"]:focus,
input[type="text"]:focus {
    border: 2px solid var(--clr-green);
}

input[type="date"] {
    appearance: none;
    position: relative;
}

input[type="text"] {
    flex: 2;
}

select:not(:has(option[value="Custom"]:checked)) ~ input[type="date"] {
    display: none;
}

select,
::picker(select) {
    appearance: base-select;
}

select {
    display: flex;
    align-items: center;
}

::picker(select) {
    border: none;
    border-radius: 8px;
    margin-bottom: 0.3rem;
}

select::picker-icon {
    color: var(--clr-teal-75);
    transition: 
        rotate 0.3s ease;
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
    background-color: var(--clr-teal-25);
    display: flex;
    justify-content: start;
    gap: 20px;

    padding-block: 8px;
    padding-inline: 10px;
    border: 1px solid var(--clr-white-100);

    transition: 
        background-color 0.3s ease;
}

option:hover {
    background-color: var(--clr-light-green);
}

option::checkmark {
    order: 1;
    margin-left: auto;
}

option:checked {
    font-weight: bold;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

.info-panel select,
.info-panel input {
    background: var(--clr-white-50);
}

.info-panel ::picker-icon {
    color: var(--clr-white-75);
}

.info-panel ::picker(select) {
    top: anchor(bottom);
}