.content {
    padding: 2rem;
    
    display: grid;
    grid-template-rows: 35px 1fr 40px;
    padding: var(--desktop-padding, 10px);
}

.to-dos-container {
    display: flex;
    flex-direction: column;
    gap: 13px;

    overflow-y: auto;
}

.to-dos-container > to-do {
    flex: 0 0 50px;
}

#new-to-do-form {
    display: flex;
    align-items: center;
    gap: 20px;
}

#new-to-do-form button {
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    height: var(--icon-size-lg);
    width: var(--icon-size-lg);
}

#new-to-do-form svg {
    height: 100%;
    width: 100%;

    fill: var(--clr-teal-50);
}

#new-to-do-form svg:hover {
    fill: var(--clr-light-green);
}

@media(max-width: 768px) {
    .content {
        grid-template-rows: 35px 1fr auto;
        gap: 10px;
        padding: var(--mobile-padding, 10px);
    }

    #new-to-do-form {
        flex-wrap: wrap;
        gap: 10px;
    }

    #new-to-do-form input[type="text"] {
        flex: 1 1 80%;
    }

    #new-to-do-form > * {
        flex: 1 1 auto;
        height: 40px;
    }
}