body {
    background-color: var(--clr-white-50);
    font-family: var(--font-family);

    height: 100svh;
    width: 100vw;

    display: grid;
    grid-template-columns: max(15%, 190px) 1fr 0px;
    grid-auto-flow: column;

    transition: 
        grid-template-columns 0.3s ease-in-out;

    overflow: hidden;
}

body.info-displayed {
    grid-template-columns: max(15%, 190px) 1fr max(20%, 200px);
}

.info-panel {
    background-color: var(--clr-teal-50);
    padding: 20px;
}

.info-panel .container {
    height: 500px;
    display: grid;

    min-width: 200px;
}

.info-panel .container > div {
    display: grid;
    grid-template-rows: min-content 50px;
}

.info-panel button {
    margin-inline: auto;
}

.info-panel p {
    color: white;
}

.info-panel span {
    font-size: 1.1em;
}

#close-info-panel {
    margin-bottom: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: 10px;

    cursor: pointer;
}

#close-info-panel svg {
    fill: var(--clr-teal-100);
}

.center {
    text-align: center;
}

svg {
    width: var(--icon-size);
    height: var(--icon-size);

    fill: var(--clr-black);

    transition:
        fill 0.2s ease-in-out;
}

@media(max-width: 768px) {
    body {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    header {
        position: absolute;
        inset: 0 30% 0 0;
        transform: translateX(-100%);

        transition: 
            transform 0.3s ease;
    }

    header.active {
        transform: translateX(0);
    }

    .info-panel {
        display: none;
    }
}