body {
    background-color: var(--clr-white-50);
    font-family: var(--font-family);

    min-height: 100vh;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: max(15%, 190px) 1fr 0px;
    grid-auto-flow: column;

    transition: 
        grid-template-columns 0.3s ease-in-out;

    overflow: hidden;
}

body.info-displayed {
    grid-template-columns: max(15%, 190px) 1fr max(20%, 200px);
}

.info-panel {
    background-color: var(--clr-teal-50);
    padding: 20px;
}

.info-panel .container {
    height: 500px;
    display: grid;

    min-width: 200px;
}

.info-panel p {
    color: white;
}

.info-panel span {
    font-size: 1.1em;
}

#close-info-panel {
    display: block;
    margin-bottom: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: 10px;

    cursor: pointer;
}

.center {
    text-align: center;
}

svg {
    width: var(--icon-size);
    height: var(--icon-size);

    fill: var(--clr-black);

    transition:
        fill 0.22s ease-in-out;
}