header {
    background-color: var(--clr-teal-50);
    color: var(--clr-black);
}

ul {
    padding: 1rem;
    font-size: 1.1rem;
}

.tab a {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 35px;
    align-items: center;

    border-radius: 6px;

    transition: 
        background-color 0.3s ease-in-out;
}

.tab a span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab a:hover,
.tab a:focus {
    background-color: var(--clr-teal-25);
}

.tab a:focus svg,
.tab a:hover svg {
    fill: white;
}

hr {
    margin: 10px;

    border: none;
    height: 1px;
    background-color: var(--clr-white-100);
}

#hamburger-icon {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

@media(max-width: 768px) {
    header {
        position: absolute;
        inset: 0 30% 0 0;
        transform: translateX(-100%);

        transition: 
            transform 0.3s ease;
    }


    header.active {
        transform: translateX(0);
    }

    #hamburger-icon {
        visibility: visible;
        pointer-events: all;
        top: 0;
        margin-top: 1rem;
        margin-left: 1rem;

        z-index: 2;
    }
    
    #hamburger-icon svg {        
        width: var(--icon-size-lg);
        height: var(--icon-size-lg);
    }

    ul {
        padding-top: 3rem;
    }
}
