:root {
    --clr-teal-25: #B0E4CC;
    --clr-teal-50: #408A71;
    --clr-teal-75: #285A48;
    --clr-teal-100: #091413;
    --clr-white-50: #bebebe;
    --clr-white-100: #ffffff;
    --clr-black: #000000;
    --clr-hightlight: rgba(255, 255, 255, 0.699);
    --clr-light-green: rgb(51, 255, 170);
    --clr-green: rgb(0, 255, 85);

    --checkbox-size: 1.6rem;
    --icon-size: 1.3rem;
    --icon-size-lg: 1.9rem;
    --font-family: sans-serif, system-ui;

    --border-radius: 13px;
}